*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    color: #B2BCD5;
    }

body{
    background-color: #1F2D48;
    
}
header{
    height: 10vh;
}
main{
    display: flex;
    border: 1px solid white;
    justify-content: space-around;
    height: 50vh;

}

main> section{
    width: 40%;
    display: flex;
    justify-content: center;

}
.main-section1{
    display: flex;
    border: 1px solid red;
}
.main-section1 form{
    display: flex;
    flex-direction: column;
}

.main-section2{
    background-color: #364761 ;
    border: 1px solid greenyellow;
}
.main-section2__circulo{
    background-color: #4D5C73 ;
    width: 20%;
    border-radius: 50%;   
    border: 1px solid red; 
}

    /* seccion 1
    #1F2D48 */

    /* boton
    #703FD6 */


    /* color de fuente
    #B2BCD5 */

    /* color de la seccion2
    #364761 */

/* circulo section2
##364761  */